<div id="about">

  <h1>YogaClan</h1>

  <p>YogaClan is a database of yoga poses.</p>

  <p>It allows the user to create, read, update or delete poses.</p>

  <p>The user can organise their poses into a sequence, creating a personalised routine to follow at home.</p>

  <p>Here's a picture of an upward dog.</p>

  <img src="http://anokhimedia.com/wp-content/uploads/images/blog_articles//1452207941_upwardDOG.jpg" id="dog_image"/>

</div>