<div class="homepage">
<img src="https://www.barrelny.com/wp-content/uploads/Wanderlust_PortfolioHero-1.jpg" class="homepage_image">

  <a href="/poses" class="btn">POSES</a>
  <a href="/sequences" class="btn">SEQUENCES</a>

</div>