<img src="https://www.barrelny.com/wp-content/uploads/Wanderlust_PortfolioHero-1.jpg" class="homepage_image">

<div class="homepage_buttons">
  <a href="/poses">POSES</a>
  <a href="/sequences">SEQUENCES</a>
</div>
