<div class="grid">
<div class="grid-row">


<% @poses.each do |pose| %>

<div class="cell">

  <a href="/poses/<%= pose.id %>"><img src = <%= pose.image %> /><a>
  <p><%= pose.name %></p>
 
</div>

<% end %>

</div>
</div>