<div class="grid">
<div class="grid-row">


<% @poses.each do |pose| %>

<div class="cell">

  <img src = <%= pose.image %> />
  <p><a href="/poses/<%= pose.id %>">Show Pose</a></p>
  <p><%= pose.name %></p>
 
</div>

<% end %>

</div>
</div>