<div class="homepage">
<img id="homepage_image" src="http://www.andrewprod.com/wp-content/uploads/2016/05/Andrew_Prod_Yoga_photography.jpg">

  <ul class="homepage">
    <span><a href="/about" class="btn">ABOUT YOGACLAN</a></span>
    <span><a href="/poses" class="btn">POSES</a></span>
    <span><a href="/sequences" class="btn">SEQUENCES</a></span>
  </ul>

</div>