<!DOCTYPE html>
<html>
<head>
  <title>YogaClan</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <nav>
    <ul>
      <li>
        <a href="/poses">Poses</a>
      </li>
      <li>
        <a href="/sequences">Sequences</a>
      </li>
      <li>
        <a href="/poses/new">New Pose</a>
      </li>
      <li>
        <a href="/sequences/new">New Sequence</a>
      </li>
    </ul>
  </nav>

  <%= yield %>

</body>
</html>