<!DOCTYPE html>
<html>
<head>
  <title>YogaClan</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <nav>
    <ul>
      <li>
        <a href="/">YOGACLAN</a>
      </li>
      <li>
        <a href="/poses">POSES</a>
      </li>
      <li>
        <a href="/sequences">SEQUENCES</a>
      </li>
    </ul>
  </nav>

  <%= yield %>

</body>
</html>