<form method="POST" action="/poses">

  <ul>

    <li>
      <label for="name"> Pose Name: </label>
      <input type="text" name="name" id="name"/>
    </li>

    <li>
      <label for="hold_time"> Hold Time (in seconds): </label>
      <select id="hold_time" name="hold_time">
        <option value=10> 10 seconds </option>
        <option value=10> 20 seconds </option>
        <option value=10> 30 seconds </option>
        <option value=10> 40 seconds </option>
        <option value=10> 50 seconds </option>
        <option value=10> 60 seconds </option>
      </select>
    </li>

    <li>
      <label for="effort_level"> Effort Level: </label>
      <select id="effort_level" name="effort_level">
        <option value=1> 1 </option>
        <option value=1> 2 </option>
        <option value=1> 3 </option>
        <option value=1> 4 </option>
        <option value=1> 5 </option>
      </select>
    </li>

    <li>
      <label for="image"> Image (enter URL): </label>
      <input type="text" name="image" id="image"/>
    </li>

    <li>
      <input type="submit" name="Save"/>
    </li>

  </ul>
</form>