<form method="POST" action="/poses">

  <p>
    <label for="name"> Pose Name: </label>
    <input type="text" name="name" id="name"/>
  </p>

  <p>
    <label for="image"> Image (enter URL): </label>
    <input type="text" name="image" id="image"/>
  </p>

  <p>
    <label for="hold_time"> Hold Time (in seconds): </label>
    <select id="hold_time" name="hold_time">
      <option value=10> 10 </option>
      <option value=20> 20 </option>
      <option value=30> 30 </option>
      <option value=40> 40 </option>
      <option value=50> 50 </option>
      <option value=60> 60 </option>
    </select>
  </p>

  <p>
    <label for="effort_level"> Effort Level: </label>
    <select id="effort_level" name="effort_level">
      <option value=1> 1 </option>
      <option value=2> 2 </option>
      <option value=3> 3 </option>
      <option value=4> 4 </option>
      <option value=5> 5 </option>
    </select>
  </p>

  <p>
    <input type="submit" value="Save"/>
  </p>

</form>