nav li {
  display: inline;
  text-decoration: none;
}

img {
  width: 200px;
  height: 200px;
}

.grid {
  display: flex;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.cell {
  flex: 1;
  padding: 10px;
  margin: 4px;
  display: inline-block;
  size: 100%;
  justify-content: space-around;
}