<form method="POST" action="/sequences/<%= @sequence.id %>">

  <ul>

    <li>
      <label for="name"> Sequence Name: </label>
      <input value = "<%= @sequence.name %>" type="text" name="name" id="name"/>
    </li>

    <li>
      <input type="submit" value="Save"/>
    </li>

  </ul>
</form>