<div class = "grid">
<div class = "grid-row">

<% @sequences.each do |sequence| %>
  <div class="cell">
    <p><%= sequence.name %></p>
    <a href="/sequences/<%= sequence.id %>">Show Sequence</a>
  </div>
<% end %>

</div>
</div>

<a href="/sequences/new">ADD NEW SEQUENCE</a>
