<% @sequences.each do |sequence| %>

  <% pose_1 = Pose.find(sequence.pose_id_1) %>
  <a href="/sequences/<%= sequence.id %>"><img src = <%= pose_1.image %> /><a>
  <p><%= sequence.name %></p>

<% end %>
