<div class="Grid">

<% @sequences.each do |sequence| %>
  <div class="cell_sequences">
    <p><a href="/sequences/<%= sequence.id %>"><%= sequence.name %></a></p>
  </div>
<% end %>

  <div class="cell_sequences">
    <a href="/sequences/new"><p>ADD NEW SEQUENCE</p></a>
  </div>

</div>