.button {
  display: inline-block;
  /* height: 50px; */
  /* width: 120px; */
  padding: 15px;
  border: solid 1px #8f98a8;
  margin: 5px;
}

.sequence_link {
  border: solid 1px #8f98a8;
  padding: 10px;
  display: inline-block;
}

ul#sequence_controls {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#index_controls {
  border: solid 1px #8f98a8;
  padding: 10px;
  display: inline-block;
  position: absolute;
}

ul#index_controls {
  padding: 0;
  margin: 0;
  list-style-type: none;

}