/* Below is design for the Nav bar */

nav {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  background-color: #d5dbe5;
  height: 80px;
  display: block;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; 
}

nav li {
  float: left; 
}

nav li a {
  display: block;
  padding: 30px 20px;
  text-decoration: none;
  color: #474a4f;
  height: 20px;
  font-family: Verdana;
  font-size: 1em;
}

nav li a:hover {
  color: #c5d2e8;
  background-color: #fff; 
}

/* Below is design for Homepage*/

#homepage_image {
  width: 100%;
  position: relative;
}

.homepage {
  position: absolute; 
  top: 100px; 
  left: 0; 
  width: 100%;
  margin: 0 auto;
}

.homepage span {
  color: white; 
  font: bold 24px/45px Helvetica, Sans-Serif; 
  letter-spacing: 5px;
  background: rgba(0, 0, 0, 0.25);
  padding: 40px;
  margin: 15px;
  position: inline;
  align-content: center
}

/* 'About' */

#about {
  /* padding-left: 200px; */
  margin-left: 25%;
  width: 600px;
  /* margin: 20px; */
  margin-right: 25%;
  padding-top: 140px;
}

#dog_image {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 400px;
}

/* 'Poses/Index' */

.Grid {
  display: flex;  
  border: solid 1px white;
  flex-wrap: wrap;
}

.cell {
  display: inline-block;
  padding: 20px;
}

/* 'Show Pose' */

.pose_detail {
  display: flex;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  padding: 60px;
}

.pose_detail_image {
  display: inline-block;
}

.pose_detail_text {
  display: inline-block;
  padding: 30px;
}

.pose_detail_text p {
  font-size: 0.9em;
  font-family: Verdana;
  color: #474a4f;
}

/* 'View Pose' */

#new_pose {
  border: solid 0.5px grey;
  height: 400px;
  width: 400px;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

/* 'Edit Pose' */

.edit_pose {
  border: solid 0.5px grey;
  height: 400px;
  width: 400px;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

/* Below is design for the 'Sequence/Index' page */

.cell_sequences {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px grey;
  height: 200px;
  width: 200px;
  margin: 20px;
  padding: 0;
  text-align: center;
  }

.cell_sequences ul {
  font-size: 1.2em;
  top: 50%;
  bottom: 50%;
}

/* Below is design for the 'Show Sequence' page */

.sequence_detail {
  display: inline-block;
  margin: 20px;
  margin-left: 25%;
  margin-right: 25%;
}

.sequence_detail_text {
  margin-top: 30px;
}

.sequence_detail p {
  font-size: 0.9em;
  font-family: Verdana;
  color: #474a4f;
}

.show_sequence {
  margin-top: 50px;
}

/* Below is generic design that should apply to all */

a {
  font-size: 0.75em;
  font-family: Verdana;
  text-decoration: none;
  text-align: center;
  color: #474a4f;
}

h1 {
  font-size: 1em;
  font-weight: bold;
  font-family: Verdana;
}

p {
  font-size: 1em;
  font-family: Verdana;
  text-decoration: none;
  color: #474a4f;
}

.pose_image_small {
  width: 200px;
  height: 200px;
}

.pose_image_medium {
  width: 400px;
  height: 400px;
}

.pose_image_large {
  width: 600px;
  height: 600px;
}
